default:
  autoload:
    '': %paths.base%/src
  suites:
    default:
      path: %paths.base%/features
      contexts:
        - Behat\DbalExtension\Context\CollectionFeatureContext
  extensions:
    Behat\DbalExtension\ServiceContainer\DbalExtension:
      dbal:
        default_connection_alias: alias1
        connections:
            default:
                dbname:               "test"
                host:                 "127.0.0.1"
                port:                 "3306"
                user:                 "travis"
                password:
                driver:               "pdo_mysql"
                memory:               true
                charset:              "UTF8"
            alias1:
                dbname:               "test"
                host:                 "127.0.0.1"
                port:                 "3306"
                user:                 "travis"
                password:
                driver:               "pdo_mysql"
                memory:               true
                charset:              "UTF8"
