default:
  autoload:
    '': %paths.base%/src
  suites:
    default:
      path: %paths.base%/features
      contexts:
        - Behat\DbalExtension\Context\FeatureContext:
          baseSqlPath: %paths.base%/sql/

  extensions:
    Behat\DbalExtension\ServiceContainer\DbalExtension:
      dbal:
        dbname:               test
        host:                 localhost
        port:                 3306
        user:                 test
        password:             test
        driver:               pdo_mysql
        memory:               true
        charset:              UTF8
